<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Alpha by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><%= link_to "Alpha", "http://html5up.net/alpha", "target" => "_blank" %> by HTML5 UP</h1>
					<nav id="nav">
						<ul>
							<li><%= link_to "Home", root_path %></li>
							<li>
								<a href="#" class="icon fa-angle-down">Layouts</a>
								<ul>
									<li><a href="generic.html">Generic</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="elements.html">Elements</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option One</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>Alpha</h2>
					<p>Another fine responsive site template freebie by HTML5 UP.</p>
					<ul class="actions">
						<li><a href="#" class="button special">Sign Up</a></li>
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Introducing the ultimate mobile app
							<br />
							for doing stuff with your phone</h2>
							<p>Generate extra income using your phone with a few taps every day!
							<br />
							Tap... Tap... Tap...
						<br />
					$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $</p>
						</header>
						<span class="image featured"><%= image_tag("pic01.jpg") %></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>Quick Income</h3>
								<p>All you need is 3 taps per day to start generating some extra cash. What you waiting for? Download, Register and start tapping! </p>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<h3>Performance</h3>
								<p>You can view your tap tap performance using our app, allowing you to plan the number of taps needed to cash out your income.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-cloud accent4"></span>
								<h3>Cloudy</h3>
								<p>All your information is stored up in the cloud, so instead of using only your phone, you can use your computer, ipad, tablet to tap tap away!</p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>Safe</h3>
								<p>Tap Tap is certified by all major goverment as legal entity so no worries on Tap Tap being a scam. We're here to help you generate extra income.</p>
							</section>
						</div>
					</section>

					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><%= image_tag("pic02.jpg") %></span>
								<h3>Getting started</h3>
								<p>Really? I can generate extra income by simply tapping 3 times a day? Before you call B.S on that, why don't you try it out? Find more details on how you can get started on Tap Tap by clicking on the link below.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><%= image_tag("pic03.jpg") %></span>
								<h3>Where are we</h3>
								<p>Currently, we are in more than 50 countries and still growing! The more taptaps we have the more cash each tap will be, so if your country is not listed here, do drop us an email and we'll get you started!</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Sign up for beta access</h2>
					<p>It is as easy as 1, 2, 3 to generate extra income using your phone.</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li><li>Design: <a href="http://html5up.net/alpha">Alpha</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<!-- <script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script> -->

	</body>
</html>
